/* ::-webkit-scrollbar {
    width: 5px;
} */

/* Scroll Bar Track */
/* ::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
} */

/* Scroll Bar Handle */
/* ::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
} */

html#home_es,
html#home_en {
    scroll-behavior: smooth;
}

body#index {
    color: rgb(0, 0, 0);
    margin: 0;
    background-image: radial-gradient(rgba(0, 0, 0, 0.215) 0.40px, #ffffffd7 0.40px);
    background-size: 7px 7px;
}

body#index::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url('../assets/13.jpg') url('../assets/desmemoria.jpeg') url('../assets/menu_img.jpeg');
}

/* LAND  */

@keyframes slides {
    0% {
        background-image: url('../assets/13.jpg')
    }

    25% {
        background-image: url('../assets/desmemoria.jpeg')
    }

    50% {
        background-image: url('../assets/menu_img.jpeg');
    }

    75% {
        background-image: url('../assets/13.jpg');
    }
}


#sect_land {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../assets/13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    animation-name: slides;
    animation-delay: 2.5s;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* Info Bio */

#title_land {


    /* backdrop-filter: blur(2px); */
    background-color: #ffffff;
    color: #000000;

    margin: 0;
    padding: 0;
    height: fit-content;
    padding-block: 0.55rem;


    border-bottom: 1px solid rgb(0, 0, 0);

    height: fit-content;
    width: 100%;

    position: absolute;
    top: 5.65%;
    left: 0;
    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
    list-style-type: none;

    font-family: 'IBM Plex Sans Condensed';
    font-size: 1.25rem;
    font-weight:300;
    


}

#title_land>li {
    width: fit-content;
    height: fit-content;
}

#name {
    background-color: #ffffff00;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#desc {
    text-transform: uppercase;

    letter-spacing: 2px;
}

#local {
    text-transform: uppercase;
    letter-spacing: 2px;
}


/* BIO */

#sect_bio {
    height: fit-content;
    border-top: 0.15rem solid black;
}


#text_bio {
    background-color: rgba(255, 255, 255, 0.201);
    backdrop-filter: blur(0.5px);
    width: fit-content;
    height: fit-content;

    margin: 0;
    margin-left: 15%;
    margin-right: 25%;
    margin-block: 8rem;
    padding: 0;
    z-index: 2;
    
    font-family: 'Raleway';
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 45px;
    /* text-indent: 10px; */
    text-align: left;
    letter-spacing: 1.5px;
}


#text_bio>p {
    margin-block: 1rem;
}

#text_bio>p:first-of-type {
    margin-top: 0;
}

#text_bio>p:last-of-type {
    margin-bottom: 0;
}