
#menu_projects {
    /* color: rgba(218, 218, 218, 0.737); */
    margin: 0;
    padding: 0;
    height: 100vh;

    background: url('../assets/13.jpg') 25%/cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(7px) saturate(100%) brightness(100%);
}


a.cont_pr  {
    color: rgba(255, 255, 255, 0.637);
    padding-inline: 2rem;
    position:absolute;
    text-decoration: none;
    font-family: 'IBM Plex Sans';
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.21);
    font-size: 6rem;
    border: 2px solid white;
    border-radius: 2px;
    backdrop-filter: blur(80px);
}


#pr_portfolio {
    top: 8rem;
    left: 35%;
}

#pr_process {
    top: 19rem;
    left: 20%;
}

#pr_experimental {
    top: 30rem;
    left: 25%;
}



a.cont_pr:hover {
    color: rgba(255, 255, 255, 0.937);
    /* text-shadow: ; */
}


