
#menu_projects {
    margin: 0;
    padding: 0;
    height: 100vh;

    background: url('../assets/13.jpg') 25%/cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(7px) saturate(100%) brightness(100%);
}


a.cont_pr  {
    position:absolute;
    background-color: rgba(0, 0, 0, 0);
    padding-inline: 2rem;
    padding-block: 0.15rem;

    color: rgba(255, 255, 255, 0.379);
    text-decoration: none;    
    font-size: 4.25rem;
    font-family: 'IBM Plex Sans';
    font-weight: 300;
    
    border: 1.5px solid;
    border-color: rgba(186, 186, 186, 0.07);
    border-radius: 3px;
    transition: color 0.20s ease-out, box-shadow 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;


}


#pr_portfolio {
    top: 10rem;
    left: 35%;
}

#pr_process {
    top: 20.5rem;
    left: 37.8%;
}

#pr_experimental {
    top: 31rem;
    left: 32.8%;
}



a.cont_pr:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px #ffec5f42;
    background-color: rgba(0, 0, 0, 0.767);
    border-color: rgba(255, 255, 255, 0.095);
}


