/* ///
/// Globales
///  */
:root {
    --back-color-navbar: rgb(0, 0, 0);
    --navbar-border-radius: 2px;
    --brdr-col-navbar: rgba(255, 255, 255, 0.899);
}

.header {
    display: flex;
    position: fixed;
    z-index: 5;
    background-color: black;
    border-bottom: 0.095rem solid var(--brdr-col-navbar);
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    height: fit-content;
    padding: 8px 34px;
    align-items: center;
    color: white;
    /* text-decoration: ; */
    font-family: 'IBM Plex Sans Condensed';
    font-weight: 400;
    font-size: 0.90rem;
    text-transform: uppercase;
}

.navbar {
    display: flex;
    gap: 2rem;
    z-index: 3;
    align-items: center;

}


.nav_lang {
    display: flex;
    gap: 2rem;
}


.navbar a:link,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

.header a {
    transition: text-decoration 2s;
}

.navbar #contacto {
    /* font-weight: 600; */
    /* line-height: 1.25rem; */
    /* font-size: 1rem; */
    margin: 0;
    padding: 2.5px 25px;
}

.navbar #contacto:hover {
    background-color: white;
    color: black;
    /* outline: 0.110rem solid var(--brdr-col-navbar); */
    text-decoration: none;
    font-weight: 600;
}

.header a:hover:not(.active):not(#contacto) {
    cursor: pointer;
    text-decoration: underline 0.110rem ;
    text-underline-offset: 4.25px;
}

.navbar a.active,
.nav_lang a.active {
    text-decoration: underline 0.110rem;
    text-underline-offset: 4.25px;
}
