
:root {
    --back-color-navbar: rgb(0, 0, 0);
    --navbar-border-radius: 2px;
    --brdr-col-navbar: rgba(255, 255, 255, 0.899);
}

.header {
    display: flex;
    position: fixed;
    z-index: 5;
    background-color: black;
    border-bottom: 0.095rem solid var(--brdr-col-navbar);
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    height: fit-content;
    padding: 8px 34px;
    align-items: center;
    color: white;
    font-family: 'IBM Plex Sans Condensed';
    font-weight: 300;
    font-size: 0.88rem;
    text-transform: uppercase;
}

.navbar {
    display: flex;
    gap: 2rem;
    z-index: 3;
    align-items: center;

}


.nav_lang {
    display: flex;
    gap: 2rem;
}


.navbar a:link,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

.header a {
    transition: color 0.15s;
}

/* .navbar #contacto {
    margin: 0;
    padding: 2.5px 25px;
    transition: color .25s, background-color  .15s, font-weight .05s;
}

.navbar #contacto:hover:not(.active) {
    background-color: white;
    color: black;
    text-decoration: none;
    font-weight: 400;
} */

.header a:hover:not(.active) {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.623);
}

.navbar a.active,
.nav_lang a.active {
    text-decoration: underline 0.110rem;
    text-underline-offset: 4.25px;
}
