* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#portf_page {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;

}


a:link,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

#proj-index {
    height: 100vh;
    margin: 0;
    display: block;
    padding: 7% 5% 4.1%;
    color: white;
    backdrop-filter: blur(7px) brightness(110%) contrast(100%) grayscale(60%) hue-rotate(220deg);
}

.proj-index_grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.7rem;
    box-sizing: content-box;
    max-width: 50%;
    margin: 0 auto;
}

.proj-tile-wrap {
    padding: 0.08rem;
    border: 3.5px solid rgb(21, 21, 21);
    display: block;
}

.proj-tile {
    display: flex;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 8rem;    
}

.proj-tile::before {
    content: " ";
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .35;
    transition: opacity 0.1s ease;
   
}
.proj-tile:hover::before {
    opacity: .75;
}


.proj-tile-link {
    backdrop-filter: blur(1.2px);
    position: relative;
    margin: 0;
    padding: 12px;
    padding-left: 20px;
    padding-bottom: 12px;
    align-items: flex-end;
    border: none;
    background: 0 0;
    display: flex;
    width: 100%;
    height: 8rem;
    text-align: start;
}

.proj-tile-link-text {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: "IBM Plex Sans";
    letter-spacing: 1px;
    font-weight: 600;
    text-shadow: 1px -0.5px 10px rgba(255, 255, 255, 0.344);
}